/* ================= CONTACT PAGE ================= */


.contact-container {


min-height:calc(100vh - 70px);

background:#f5f7fb;

display:flex;

justify-content:center;

align-items:center;

padding:40px;


}



.contact-card {


width:100%;

max-width:560px;

background:white;

padding:40px;

border-radius:25px;

box-shadow:
0 15px 40px rgba(0,0,0,.1);

animation:contactShow .6s ease;


}



.contact-header {


text-align:center;

margin-bottom:30px;


}



.contact-header h1 {


font-size:38px;

color:#222;

margin-bottom:10px;


}



.contact-header p {


color:#666;

}




.input-box {

display:flex;

align-items:center;

gap:12px;

background:#f8fafc;

border:1px solid #ddd;

padding:0 15px;

border-radius:14px;

margin-bottom:18px;

transition:.3s;

}



.input-box svg {


color:#2874f0;

font-size:18px;


}



.input-box input,
.input-box textarea {


width:100%;

border:none;

outline:none;

background:transparent;

padding:15px 5px;

font-size:15px;


}



.input-box:focus-within {


border-color:#2874f0;

box-shadow:
0 0 0 4px rgba(40,116,240,.15);


}



.textarea-box {

    align-items:flex-start;

}


.textarea-box svg {

    margin-top:16px;

}


.textarea-box textarea {

    padding-top:15px;

    resize:none;

}



.contact-card button {


width:100%;

padding:15px;

border:none;

border-radius:14px;

background:#2874f0;

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;


}



.contact-card button:hover {


background:#1259c3;

transform:translateY(-3px);


}



.success-message {


background:#dcfce7;

color:#15803d;

padding:15px;

border-radius:12px;

text-align:center;

margin-bottom:20px;

animation:success .5s;


}



@keyframes contactShow{


from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:none;

}


}



@keyframes success{


from{

opacity:0;

transform:scale(.8);

}

to{

opacity:1;

transform:scale(1);

}

}




@media(max-width:600px){


.contact-container{

padding:20px 15px;

}



.contact-card{

padding:25px 20px;

}



.contact-header h1{

font-size:30px;

}


}
