.footer{

background:white;

position:relative;

overflow:hidden;

border-top:1px solid #eee;

margin-top:60px;

}



/* Wave */

.footer-wave{

position:absolute;

top:-50px;

left:-10%;

width:120%;

height:90px;

background:#2874f0;

border-radius:50%;

animation:wave 5s infinite alternate;

}



@keyframes wave{

from{
transform:translateX(-20px);
}

to{
transform:translateX(20px);
}

}





.footer-container{


max-width:1200px;

margin:auto;


padding:90px 25px 40px;


display:grid;


grid-template-columns:

2fr 1fr 1fr 1.5fr;


gap:40px;


}



/* Animation */


.footer-box{


animation:footerShow .8s ease;


}



@keyframes footerShow{


from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:translateY(0);

}


}






/* Brand */

.brand-box h2{


font-size:35px;

color:#2874f0;


}



.brand-box h2 span{

color:#222;

}




.brand-box p{


color:#666;

line-height:1.7;

max-width:320px;


}




/* Title */


.footer-box h3{


color:#2874f0;

font-size:20px;

margin-bottom:20px;


}





/* Links */


.footer-box ul{


padding:0;

list-style:none;


}



.footer-box li{


display:flex;

align-items:center;


gap:10px;


margin-bottom:15px;


transition:.3s;


}



.footer-box li:hover{


transform:translateX(8px);


}



.footer-box li svg{


color:#2874f0;

font-size:12px;


}




.footer-box li a{


text-decoration:none;

color:#555;


}




.footer-box li:hover a{


color:#2874f0;


}





/* Social */


.social-icons{


display:flex;

gap:15px;

margin-top:25px;


}


.social-icons a{


width:42px;

height:42px;


background:#2874f0;


color:white;


display:flex;

justify-content:center;

align-items:center;


border-radius:50%;


transition:.4s;


}



.social-icons a:hover{


transform:

translateY(-8px)

rotate(360deg);


}





/* Contact */


.contact p{

    display:flex;

    align-items:center;

    gap:15px;

    color:#555;

    margin-bottom:22px;

    font-size:15px;

    line-height:1.6;

}


.contact p svg{

    min-width:20px;

    color:#2874f0;

    font-size:18px;

}


.contact svg{


color:#2874f0;


}





/* Bottom */


.footer-bottom{


background:#2874f0;

color:white;


text-align:center;


padding:18px;


}





/* TABLET */


@media(max-width:992px){


.footer-container{


grid-template-columns:1fr 1fr;


}


.brand-box{


grid-column:span 2;

}


}






/* MOBILE */


@media(max-width:600px){


.footer-container{


display:flex;

flex-direction:column;


text-align:center;


padding:70px 20px 30px;


}



.brand-box p{

margin:auto;

}



.social-icons{


justify-content:center;


}



.footer-box ul{


display:flex;

flex-direction:column;

align-items:center;


}



.footer-box li{


justify-content:center;


}



.contact p{


justify-content:center;


}



.footer-bottom{


font-size:13px;


}


}