.dashboard-layout {

    display: flex;
    background: #f4f6fb;
    min-height: 100vh;

}



.dashboard-content {

    margin-left: 220px;
    padding: 35px;
    width: 100%;

}



.dashboard-content h1 {

    font-size: 34px;
    margin-bottom: 30px;
    color: #111827;

}



/* CARDS */


.dashboard-cards {

    display: grid;
    grid-template-columns:
        repeat(3, 1fr);
    gap: 25px;

}



.dash-card {

    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, .08);

    transition: .3s;

}



.dash-card:hover {

    transform: translateY(-8px);

}



.dash-card h2 {

    font-size: 35px;
    margin: 0;

}


.dash-card p {

    color: #666;
    font-size: 16px;

}




.blue {

    border-left: 6px solid #2563eb;

}


.green {

    border-left: 6px solid #16a34a;

}


.orange {

    border-left: 6px solid #f97316;

}


.red {

    border-left: 6px solid #dc2626;

}


.purple {

    border-left: 6px solid #9333ea;

}


.dark {

    border-left: 6px solid #111827;

}





.chart-box {

    width: 50%;

    background: white;

    padding: 25px;

    border-radius: 20px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.08);
    margin-top: 35px;
}


.chart-box:hover {

    box-shadow:
        0 15px 40px rgba(0, 0, 0, .12);

}



.chart-box h2 {

    font-size: 24px;

    font-weight: 700;

    margin-bottom: 20px;

    color: #111827;

}

.dashboard-row {

    display: flex;

    gap: 25px;

    margin-top: 35px;

    align-items: stretch;

}

.recharts-bar-rectangle:hover {

    opacity: 0.75;

    filter:
        drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));

    cursor: pointer;

}

/* TABLE */


.table-card {

    background: white;

    margin-top: 35px;

    padding: 30px;

    border-radius: 20px;


    box-shadow:
        0 10px 30px rgba(0, 0, 0, .08);


}


.table-card h2 {

    margin-bottom: 20px;

}




table {

    width: 100%;
    border-collapse: collapse;

}



thead {

    background: #111827;
    color: white;

}



th,
td {

    padding: 15px;
    text-align: left;

}


tbody tr {

    border-bottom: 1px solid #eee;

}


tbody tr:hover {

    background: #f8fafc;

}



td span {

    background: #fff3cd;
    color: #856404;

    padding: 6px 14px;

    border-radius: 20px;

    font-size: 13px;

}







@media(max-width:1000px) {


    .dashboard-cards {

        grid-template-columns:
            repeat(2, 1fr);

    }



    .dashboard-content {

        margin-left: 0;

    }


}



@media(max-width:600px) {


    .dashboard-cards {

        grid-template-columns: 1fr;

    }


    .dashboard-content {

        padding: 20px;

    }



}

.pending-table {

    width: 50%;

    overflow: auto;

}

.pending-table table {

    margin-top: 15px;

}

.pending-box {

    width: 50%;

    background: white;

    padding: 25px;

    border-radius: 20px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.08);

    overflow-x: auto;

}


.pending-table tbody tr {

    height: 55px;

}

@media(max-width:900px) {

    .dashboard-row {

        flex-direction: column;

    }


    .chart-box,
    .pending-table {

        width: 100%;

    }

}

.dashboard-two-column {

    display: flex;

    gap: 25px;

    width: 100%;

    margin-top: 35px;

}